CloudETLWithADF&D365CE/Azure.CloudETLD365CEADF/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "akv_name": {
      "defaultValue": "adfd365dv-akv",
      "type": "string",
      "metadata": {
        "description": "Name of the Azure Key vault resource to be created."
      }
    },
    "adf_name": {
      "defaultValue": "adfd365dv-adf",
      "type": "string",
      "metadata": {
        "description": "Name of the Azure Data Factory V2 resource to be created."
      }
    },
    "sa_name": {
      "defaultValue": "adfd365dvsa",
      "type": "string",
      "metadata": {
        "description": "Name of the Storage Account resource to be created."
      }
    },
    "dv_url": {
      "type": "string",
      "metadata": {
        "description": "URL for the Microsoft Dataverse environment e.g. https://mycrm.crm11.dynamics.com"
      }
    },
    "dv_ClientID": {
      "type": "string",
      "metadata": {
        "description": "Client ID to access the Microsoft Dataverse environment."
      }
    },
    "dv_ClientSecret": {
      "type": "securestring",
      "metadata": {
        "description": "Password to access the Microsoft Dataverse environment."
      }
    },
    "onpremsql_connectionString": {
      "type": "securestring",
      "metadata": {
        "description": "Connection string for the On-Premise SQL Server 2008 instance"
      }
    },
    "aad_objectID": {
      "type": "string",
      "metadata": {
        "description": "Unique Identifier of the Azure Active Directory account that should have full access privileges for the Azure Key Vault resource (if in doubt, use your own)."
      }
    }
  },
  "variables": {
    "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('adf_name'))]"
  },
  "resources": [
    {
      "type": "Microsoft.KeyVault/vaults",
      "apiVersion": "2016-10-01",
      "name": "[parameters('akv_name')]",
      "location": "uksouth",
      "tags": {
        "displayName": "Azure Key Vault"
      },
      "properties": {
        "sku": {
          "family": "A",
          "name": "Standard"
        },
        "tenantId": "[subscription().tenantId]",
        "accessPolicies": [
          {
            "tenantId": "[subscription().tenantId]",
            "objectId": "[parameters('aad_objectID')]",
            "permissions": {
              "keys": [
                "Get",
                "List",
                "Update",
                "Create",
                "Import",
                "Delete",
                "Recover",
                "Backup",
                "Restore"
              ],
              "secrets": [
                "Get",
                "List",
                "Set",
                "Delete",
                "Recover",
                "Backup",
                "Restore"
              ],
              "certificates": [
                "Get",
                "List",
                "Update",
                "Create",
                "Import",
                "Delete",
                "Recover",
                "Backup",
                "Restore",
                "ManageContacts",
                "ManageIssuers",
                "GetIssuers",
                "ListIssuers",
                "SetIssuers",
                "DeleteIssuers"
              ]
            }
          },
          {
            "tenantId": "[subscription().tenantId]",
            "objectId": "[reference(resourceId('Microsoft.DataFactory/factories', parameters('adf_name')), '2018-06-01', 'full').identity.principalId]",
            "permissions": {
              "secrets": [
                "Get",
                "List"
              ]
            }
          }
        ],
        "enabledForDeployment": false,
        "enabledForDiskEncryption": false,
        "enabledForTemplateDeployment": false
      },
      "dependsOn": [
        "[resourceId('Microsoft.DataFactory/factories', parameters('adf_name'))]"
      ]
    },
    {
      "type": "Microsoft.Storage/storageAccounts",
      "apiVersion": "2018-07-01",
      "name": "[parameters('sa_name')]",
      "location": "uksouth",
      "tags": {
        "displayName": "Sink Data Storage Account"
      },
      "sku": {
        "name": "Standard_LRS",
        "tier": "Standard"
      },
      "kind": "StorageV2",
      "properties": {
        "networkAcls": {
          "bypass": "AzureServices",
          "virtualNetworkRules": [],
          "ipRules": [],
          "defaultAction": "Allow"
        },
        "supportsHttpsTrafficOnly": true,
        "encryption": {
          "services": {
            "file": {
              "enabled": true
            },
            "blob": {
              "enabled": true
            }
          },
          "keySource": "Microsoft.Storage"
        },
        "accessTier": "Hot"
      },
      "resources": [
        {
          "name": "default/crmsinkdata-account",
          "type": "blobServices/containers",
          "apiVersion": "2018-07-01",
          "dependsOn": [
            "[parameters('sa_name')]"
          ]
        },
        {
          "name": "default/crmsinkdata-contact",
          "type": "blobServices/containers",
          "apiVersion": "2018-07-01",
          "dependsOn": [
            "[parameters('sa_name')]"
          ]
        }
      ]
    },
    {
      "type": "Microsoft.KeyVault/vaults/secrets",
      "apiVersion": "2016-10-01",
      "name": "[concat(parameters('akv_name'), '/DataverseSecret')]",
      "location": "uksouth",
      "tags": {
        "displayName": "Dataverse Secret for Key Vault"
      },
      "dependsOn": [
        "[resourceId('Microsoft.KeyVault/vaults', parameters('akv_name'))]"
      ],
      "properties": {
        "attributes": {
          "enabled": true
        },
        "value": "[parameters('dv_ClientSecret')]"
      }
    },
    {
      "type": "Microsoft.KeyVault/vaults/secrets",
      "apiVersion": "2016-10-01",
      "name": "[concat(parameters('akv_name'), '/SAConnectionString')]",
      "location": "uksouth",
      "tags": {
        "displayName": "Storage Account Connection String for Key Vault"
      },
      "dependsOn": [
        "[resourceId('Microsoft.KeyVault/vaults', parameters('akv_name'))]"
      ],
      "properties": {
        "attributes": {
          "enabled": true
        },
        "value": "[concat('DefaultEndpointsProtocol=https;AccountName=', parameters('sa_name'), ';EndpointSuffix=', environment().suffixes.storage, ';AccountKey=',listKeys(resourceId(resourceGroup().name, 'Microsoft.Storage/storageAccounts', parameters('sa_name')), '2019-06-01').keys[0].value)]"
      }
    },
    {
      "type": "Microsoft.KeyVault/vaults/secrets",
      "apiVersion": "2016-10-01",
      "name": "[concat(parameters('akv_name'), '/SQLOnPremise')]",
      "location": "uksouth",
      "tags": {
        "displayName": "On Premise SQL Server 2008 Connection String for Key Vault"
      },
      "dependsOn": [
        "[resourceId('Microsoft.KeyVault/vaults', parameters('akv_name'))]"
      ],
      "properties": {
        "attributes": {
          "enabled": true
        },
        "value": "[parameters('onpremsql_connectionString')]"
      }
    },
    {
      "name": "[parameters('adf_name')]",
      "apiVersion": "2018-06-01",
      "type": "Microsoft.DataFactory/factories",
      "location": "uksouth",
      "identity": {
        "type": "SystemAssigned"
      },
      "tags": {
        "displayName": "Azure Data Factory V2"
      },
      "properties": {},
      "resources": [
        {
          "name": "CRM2013_DV_Account",
          "type": "pipelines",
          "apiVersion": "2018-06-01",
          "tags": {
            "displayName": "Account Import Pipeline"
          },
          "properties": {
            "activities": [
              {
                "name": "sql-to-blob",
                "type": "Copy",
                "dependsOn": [],
                "policy": {
                  "timeout": "7.00:00:00",
                  "retry": 0,
                  "retryIntervalInSeconds": 30,
                  "secureOutput": false,
                  "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                  "source": {
                    "type": "SqlServerSource",
                    "sqlReaderQuery": "SELECT\n\tAccountId AS accountid,\n\tName AS name,\n\tCreatedOn AS createdon,\n\tStateCode AS statecode,\n\tStatusCode AS statuscode,\n\tTelephone1 AS telephone1,\n\tFax AS fax,\n\tIndustryCode AS industrycode,\n\tNumberOfEmployees AS numberofemployees,\n\tAddress1_Line1 AS address1_line1,\n\tAddress1_City AS address1_city,\n\tAddress1_County AS address1_county,\n\tAddress1_PostalCode AS address1_postalcode,\n\tAddress1_Country AS address1_country,\n\tAddress1_Latitude AS address1_latitude,\n\tAddress1_Longitude AS address1_longitude\nFROM [dbo].[Account]"
                  },
                  "sink": {
                    "type": "DelimitedTextSink",
                    "storeSettings": {
                      "type": "AzureBlobStorageWriteSettings",
                      "copyBehavior": "FlattenHierarchy"
                    },
                    "formatSettings": {
                      "type": "DelimitedTextWriteSettings",
                      "quoteAllText": true,
                      "fileExtension": ".csv"
                    }
                  },
                  "enableStaging": false,
                  "translator": {
                    "type": "TabularTranslator",
                    "mappings": [
                      {
                        "source": {
                          "name": "accountid",
                          "type": "Guid"
                        },
                        "sink": {
                          "name": "accountid",
                          "type": "Guid"
                        }
                      },
                      {
                        "source": {
                          "name": "name",
                          "type": "String"
                        },
                        "sink": {
                          "name": "name",
                          "type": "String"
                        }
                      },
                      {
                        "source": {
                          "name": "createdon",
                          "type": "DateTime"
                        },
                        "sink": {
                          "name": "createdon",
                          "type": "DateTime"
                        }
                      },
                      {
                        "source": {
                          "name": "statecode",
                          "type": "Int32"
                        },
                        "sink": {
                          "name": "statecode",
                          "type": "Int32"
                        }
                      },
                      {
                        "source": {
                          "name": "statuscode",
                          "type": "Int32"
                        },
                        "sink": {
                          "name": "statuscode",
                          "type": "Int32"
                        }
                      },
                      {
                        "source": {
                          "name": "telephone1",
                          "type": "String"
                        },
                        "sink": {
                          "name": "telephone1",
                          "type": "String"
                        }
                      },
                      {
                        "source": {
                          "name": "fax",
                          "type": "String"
                        },
                        "sink": {
                          "name": "fax",
                          "type": "String"
                        }
                      },
                      {
                        "source": {
                          "name": "industrycode",
                          "type": "Int32"
                        },
                        "sink": {
                          "name": "industrycode",
                          "type": "Int32"
                        }
                      },
                      {
                        "source": {
                          "name": "numberofemployees",
                          "type": "Int32"
                        },
                        "sink": {
                          "name": "numberofemployees",
                          "type": "Int32"
                        }
                      },
                      {
                        "source": {
                          "name": "address1_line1",
                          "type": "String"
                        },
                        "sink": {
                          "name": "address1_line1",
                          "type": "String"
                        }
                      },
                      {
                        "source": {
                          "name": "address1_city",
                          "type": "String"
                        },
                        "sink": {
                          "name": "address1_city",
                          "type": "String"
                        }
                      },
                      {
                        "source": {
                          "name": "address1_county",
                          "type": "String"
                        },
                        "sink": {
                          "name": "address1_county",
                          "type": "String"
                        }
                      },
                      {
                        "source": {
                          "name": "address1_postalcode",
                          "type": "String"
                        },
                        "sink": {
                          "name": "address1_postalcode",
                          "type": "String"
                        }
                      },
                      {
                        "source": {
                          "name": "address1_country",
                          "type": "String"
                        },
                        "sink": {
                          "name": "address1_country",
                          "type": "String"
                        }
                      },
                      {
                        "source": {
                          "name": "address1_latitude",
                          "type": "Double"
                        },
                        "sink": {
                          "name": "address1_latitude",
                          "type": "Double"
                        }
                      },
                      {
                        "source": {
                          "name": "address1_longitude",
                          "type": "Double"
                        },
                        "sink": {
                          "name": "address1_longitude",
                          "type": "Double"
                        }
                      }
                    ]
                  }
                },
                "inputs": [
                  {
                    "referenceName": "CRM2013OnPremSQL",
                    "type": "DatasetReference",
                    "parameters": {}
                  }
                ],
                "outputs": [
                  {
                    "referenceName": "Staging_Account",
                    "type": "DatasetReference",
                    "parameters": {}
                  }
                ]
              },
              {
                "name": "blob-to-dv",
                "type": "Copy",
                "dependsOn": [
                  {
                    "activity": "AccountTransform",
                    "dependencyConditions": [
                      "Succeeded"
                    ]
                  }
                ],
                "policy": {
                  "timeout": "7.00:00:00",
                  "retry": 0,
                  "retryIntervalInSeconds": 30,
                  "secureOutput": false,
                  "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                  "source": {
                    "type": "DelimitedTextSource",
                    "storeSettings": {
                      "type": "AzureBlobStorageReadSettings",
                      "recursive": true,
                      "wildcardFileName": "Staging_Account_????-??-??_Transformed",
                      "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                      "type": "DelimitedTextReadSettings"
                    }
                  },
                  "sink": {
                    "type": "DynamicsSink",
                    "writeBatchSize": 10,
                    "writeBehavior": "upsert"
                  },
                  "enableStaging": false,
                  "translator": {
                    "type": "TabularTranslator",
                    "mappings": [
                      {
                        "source": {
                          "name": "accountid",
                          "type": "Guid"
                        },
                        "sink": {
                          "name": "accountid"
                        }
                      },
                      {
                        "source": {
                          "name": "name_df"
                        },
                        "sink": {
                          "name": "name"
                        }
                      },
                      {
                        "source": {
                          "name": "statecode",
                          "type": "Int32"
                        },
                        "sink": {
                          "name": "statecode"
                        }
                      },
                      {
                        "source": {
                          "name": "statuscode",
                          "type": "Int32"
                        },
                        "sink": {
                          "name": "statuscode"
                        }
                      },
                      {
                        "source": {
                          "name": "createdon",
                          "type": "DateTime"
                        },
                        "sink": {
                          "name": "overriddencreatedon"
                        }
                      },
                      {
                        "source": {
                          "name": "telephone1",
                          "type": "String"
                        },
                        "sink": {
                          "name": "telephone1"
                        }
                      },
                      {
                        "source": {
                          "name": "fax",
                          "type": "String"
                        },
                        "sink": {
                          "name": "fax"
                        }
                      },
                      {
                        "source": {
                          "name": "address1_line1",
                          "type": "String"
                        },
                        "sink": {
                          "name": "address1_line1"
                        }
                      },
                      {
                        "source": {
                          "name": "address1_city",
                          "type": "String"
                        },
                        "sink": {
                          "name": "address1_city"
                        }
                      },
                      {
                        "source": {
                          "name": "address1_postalcode",
                          "type": "String"
                        },
                        "sink": {
                          "name": "address1_postalcode"
                        }
                      },
                      {
                        "source": {
                          "name": "address1_latitude",
                          "type": "Double"
                        },
                        "sink": {
                          "name": "address1_latitude"
                        }
                      },
                      {
                        "source": {
                          "name": "address1_longitude",
                          "type": "Double"
                        },
                        "sink": {
                          "name": "address1_longitude"
                        }
                      },
                      {
                        "source": {
                          "name": "industrycode",
                          "type": "Int32"
                        },
                        "sink": {
                          "name": "industrycode"
                        }
                      },
                      {
                        "source": {
                          "name": "numberofemployees",
                          "type": "Int32"
                        },
                        "sink": {
                          "name": "numberofemployees"
                        }
                      },
                      {
                        "source": {
                          "name": "address1_county",
                          "type": "String"
                        },
                        "sink": {
                          "name": "address1_county"
                        }
                      },
                      {
                        "source": {
                          "name": "address1_country",
                          "type": "String"
                        },
                        "sink": {
                          "name": "address1_country"
                        }
                      }
                    ]
                  }
                },
                "inputs": [
                  {
                    "referenceName": "Staging_Account_Transformed",
                    "type": "DatasetReference",
                    "parameters": {}
                  }
                ],
                "outputs": [
                  {
                    "referenceName": "DV_Account",
                    "type": "DatasetReference",
                    "parameters": {}
                  }
                ]
              },
              {
                "name": "AccountTransform",
                "type": "ExecuteDataFlow",
                "dependsOn": [
                  {
                    "activity": "sql-to-blob",
                    "dependencyConditions": [
                      "Succeeded"
                    ]
                  }
                ],
                "policy": {
                  "timeout": "7.00:00:00",
                  "retry": 0,
                  "retryIntervalInSeconds": 30,
                  "secureOutput": false,
                  "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                  "dataflow": {
                    "referenceName": "AccountTransform",
                    "type": "DataFlowReference",
                    "parameters": {},
                    "datasetParameters": {
                      "StagingAccount": {},
                      "StagingAccountTransformed": {}
                    }
                  },
                  "staging": {},
                  "compute": {
                    "coreCount": 8,
                    "computeType": "General"
                  }
                }
              },
              {
                "name": "Cleanup",
                "type": "Delete",
                "dependsOn": [
                  {
                    "activity": "blob-to-dv",
                    "dependencyConditions": [
                      "Succeeded"
                    ]
                  }
                ],
                "policy": {
                  "timeout": "7.00:00:00",
                  "retry": 0,
                  "retryIntervalInSeconds": 30,
                  "secureOutput": false,
                  "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                  "dataset": {
                    "referenceName": "Staging_Account",
                    "type": "DatasetReference",
                    "parameters": {}
                  },
                  "enableLogging": false,
                  "storeSettings": {
                    "type": "AzureBlobStorageReadSettings",
                    "recursive": true,
                    "wildcardFileName": "*"
                  }
                }
              }
            ],
            "annotations": []
          },
          "dependsOn": [
            "[concat(variables('factoryId'), '/datasets/CRM2013OnPremSQL')]",
            "[concat(variables('factoryId'), '/datasets/Staging_Account')]",
            "[concat(variables('factoryId'), '/datasets/Staging_Account_Transformed')]",
            "[concat(variables('factoryId'), '/datasets/DV_Account')]",
            "[concat(variables('factoryId'), '/dataflows/AccountTransform')]",
            "[resourceId('Microsoft.DataFactory/factories', parameters('adf_name'))]"
          ]
        },
        {
          "name": "CRM2013_DV_Contact",
          "type": "pipelines",
          "apiVersion": "2018-06-01",
          "tags": {
            "displayName": "Contact Import Pipeline"
          },
          "properties": {
            "activities": [
              {
                "name": "sql-to-blob",
                "type": "Copy",
                "dependsOn": [],
                "policy": {
                  "timeout": "7.00:00:00",
                  "retry": 0,
                  "retryIntervalInSeconds": 30,
                  "secureOutput": false,
                  "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                  "source": {
                    "type": "SqlServerSource",
                    "sqlReaderQuery": "SELECT\n\tContactId AS contactid,\n\tFirstName AS firstname,\n\tLastName AS lastname,\n\tCreatedOn AS createdon,\n\t--UID supplied below must be for a user that exists in the target environment.\n\tCAST('d5621c9b-989c-4d0c-8bf9-093dcd6246f1' AS UNIQUEIDENTIFIER) AS ownerid,\n\tStateCode AS statecode,\n\tStatusCode AS statuscode,\n\tSalutation AS salutation,\n\tAccountId AS accountid,\n\tTelephone1 AS telephone1,\n\tEMailAddress1 AS emailaddress1,\n\tAddress1_Line1 AS address1_line1,\n\tAddress1_City AS address1_city,\n\tAddress1_PostalCode AS address1_postalcode,\n\tBirthDate AS birthdate,\n\tCreditLimit AS creditlimit\nFROM [dbo].[Contact]"
                  },
                  "sink": {
                    "type": "DelimitedTextSink",
                    "storeSettings": {
                      "type": "AzureBlobStorageWriteSettings"
                    },
                    "formatSettings": {
                      "type": "DelimitedTextWriteSettings",
                      "quoteAllText": true,
                      "fileExtension": ".txt"
                    }
                  },
                  "enableStaging": false,
                  "translator": {
                    "type": "TabularTranslator",
                    "mappings": [
                      {
                        "source": {
                          "name": "contactid",
                          "type": "Guid"
                        },
                        "sink": {
                          "name": "contactid",
                          "type": "Guid"
                        }
                      },
                      {
                        "source": {
                          "name": "firstname",
                          "type": "String"
                        },
                        "sink": {
                          "name": "firstname",
                          "type": "String"
                        }
                      },
                      {
                        "source": {
                          "name": "lastname",
                          "type": "String"
                        },
                        "sink": {
                          "name": "lastname",
                          "type": "String"
                        }
                      },
                      {
                        "source": {
                          "name": "createdon",
                          "type": "DateTime"
                        },
                        "sink": {
                          "name": "createdon",
                          "type": "DateTime"
                        }
                      },
                      {
                        "source": {
                          "name": "ownerid",
                          "type": "Guid"
                        },
                        "sink": {
                          "name": "ownerid",
                          "type": "Guid"
                        }
                      },
                      {
                        "source": {
                          "name": "statecode",
                          "type": "Int32"
                        },
                        "sink": {
                          "name": "statecode",
                          "type": "Int32"
                        }
                      },
                      {
                        "source": {
                          "name": "statuscode",
                          "type": "Int32"
                        },
                        "sink": {
                          "name": "statuscode",
                          "type": "Int32"
                        }
                      },
                      {
                        "source": {
                          "name": "salutation",
                          "type": "String"
                        },
                        "sink": {
                          "name": "salutation",
                          "type": "String"
                        }
                      },
                      {
                        "source": {
                          "name": "accountid",
                          "type": "Guid"
                        },
                        "sink": {
                          "name": "accountid",
                          "type": "Guid"
                        }
                      },
                      {
                        "source": {
                          "name": "telephone1",
                          "type": "String"
                        },
                        "sink": {
                          "name": "telephone1",
                          "type": "String"
                        }
                      },
                      {
                        "source": {
                          "name": "emailaddress1",
                          "type": "String"
                        },
                        "sink": {
                          "name": "emailaddress1",
                          "type": "String"
                        }
                      },
                      {
                        "source": {
                          "name": "address1_line1",
                          "type": "String"
                        },
                        "sink": {
                          "name": "address1_line1",
                          "type": "String"
                        }
                      },
                      {
                        "source": {
                          "name": "address1_city",
                          "type": "String"
                        },
                        "sink": {
                          "name": "address1_city",
                          "type": "String"
                        }
                      },
                      {
                        "source": {
                          "name": "address1_postalcode",
                          "type": "String"
                        },
                        "sink": {
                          "name": "address1_postalcode",
                          "type": "String"
                        }
                      },
                      {
                        "source": {
                          "name": "birthdate",
                          "type": "DateTime"
                        },
                        "sink": {
                          "name": "birthdate",
                          "type": "DateTime"
                        }
                      },
                      {
                        "source": {
                          "name": "creditlimit",
                          "type": "Decimal"
                        },
                        "sink": {
                          "name": "creditlimit",
                          "type": "Decimal"
                        }
                      }
                    ]
                  }
                },
                "inputs": [
                  {
                    "referenceName": "CRM2013OnPremSQL",
                    "type": "DatasetReference",
                    "parameters": {}
                  }
                ],
                "outputs": [
                  {
                    "referenceName": "Staging_Contact",
                    "type": "DatasetReference",
                    "parameters": {}
                  }
                ]
              },
              {
                "name": "blob-to-dv",
                "type": "Copy",
                "dependsOn": [
                  {
                    "activity": "ContactTransform",
                    "dependencyConditions": [
                      "Succeeded"
                    ]
                  }
                ],
                "policy": {
                  "timeout": "7.00:00:00",
                  "retry": 0,
                  "retryIntervalInSeconds": 30,
                  "secureOutput": false,
                  "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                  "source": {
                    "type": "DelimitedTextSource",
                    "storeSettings": {
                      "type": "AzureBlobStorageReadSettings",
                      "recursive": true,
                      "wildcardFileName": "Staging_Contact_????-??-??_Transformed",
                      "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                      "type": "DelimitedTextReadSettings"
                    }
                  },
                  "sink": {
                    "type": "DynamicsSink",
                    "writeBatchSize": 10,
                    "writeBehavior": "upsert",
                    "ignoreNullValues": false
                  },
                  "enableStaging": false,
                  "translator": {
                    "type": "TabularTranslator",
                    "mappings": [
                      {
                        "source": {
                          "name": "contactid",
                          "type": "Guid"
                        },
                        "sink": {
                          "name": "contactid"
                        }
                      },
                      {
                        "source": {
                          "name": "firstname",
                          "type": "String"
                        },
                        "sink": {
                          "name": "firstname"
                        }
                      },
                      {
                        "source": {
                          "name": "lastname",
                          "type": "String"
                        },
                        "sink": {
                          "name": "lastname"
                        }
                      },
                      {
                        "source": {
                          "name": "createdon",
                          "type": "DateTime"
                        },
                        "sink": {
                          "name": "overriddencreatedon"
                        }
                      },
                      {
                        "source": {
                          "name": "statecode",
                          "type": "Int32"
                        },
                        "sink": {
                          "name": "statecode"
                        }
                      },
                      {
                        "source": {
                          "name": "statuscode",
                          "type": "Int32"
                        },
                        "sink": {
                          "name": "statuscode"
                        }
                      },
                      {
                        "source": {
                          "name": "salutation",
                          "type": "String"
                        },
                        "sink": {
                          "name": "salutation"
                        }
                      },
                      {
                        "source": {
                          "name": "telephone1",
                          "type": "String"
                        },
                        "sink": {
                          "name": "telephone1"
                        }
                      },
                      {
                        "source": {
                          "name": "emailaddress1",
                          "type": "String"
                        },
                        "sink": {
                          "name": "emailaddress1"
                        }
                      },
                      {
                        "source": {
                          "name": "address1_line1",
                          "type": "String"
                        },
                        "sink": {
                          "name": "address1_line1"
                        }
                      },
                      {
                        "source": {
                          "name": "address1_city",
                          "type": "String"
                        },
                        "sink": {
                          "name": "address1_city"
                        }
                      },
                      {
                        "source": {
                          "name": "address1_postalcode",
                          "type": "String"
                        },
                        "sink": {
                          "name": "address1_postalcode"
                        }
                      },
                      {
                        "source": {
                          "name": "birthdate",
                          "type": "DateTime"
                        },
                        "sink": {
                          "name": "birthdate"
                        }
                      },
                      {
                        "source": {
                          "name": "creditlimit",
                          "type": "Decimal"
                        },
                        "sink": {
                          "name": "creditlimit"
                        }
                      },
                      {
                        "source": {
                          "name": "preferredcontactmethodcode",
                          "type": "Int32"
                        },
                        "sink": {
                          "name": "preferredcontactmethodcode"
                        }
                      },
                      {
                        "source": {
                          "name": "donotemail",
                          "type": "Boolean"
                        },
                        "sink": {
                          "name": "donotemail"
                        }
                      },
                      {
                        "source": {
                          "name": "donotbulkemail",
                          "type": "Boolean"
                        },
                        "sink": {
                          "name": "donotbulkemail"
                        }
                      },
                      {
                        "source": {
                          "name": "donotphone",
                          "type": "Boolean"
                        },
                        "sink": {
                          "name": "donotphone"
                        }
                      },
                      {
                        "source": {
                          "name": "donotfax",
                          "type": "Boolean"
                        },
                        "sink": {
                          "name": "donotfax"
                        }
                      },
                      {
                        "source": {
                          "name": "donotpostalmail",
                          "type": "Boolean"
                        },
                        "sink": {
                          "name": "donotpostalmail"
                        }
                      }
                    ]
                  }
                },
                "inputs": [
                  {
                    "referenceName": "Staging_Contact_Transformed",
                    "type": "DatasetReference",
                    "parameters": {}
                  }
                ],
                "outputs": [
                  {
                    "referenceName": "DV_Contact",
                    "type": "DatasetReference",
                    "parameters": {}
                  }
                ]
              },
              {
                "name": "ContactTransform",
                "type": "ExecuteDataFlow",
                "dependsOn": [
                  {
                    "activity": "sql-to-blob",
                    "dependencyConditions": [
                      "Succeeded"
                    ]
                  }
                ],
                "policy": {
                  "timeout": "7.00:00:00",
                  "retry": 0,
                  "retryIntervalInSeconds": 30,
                  "secureOutput": false,
                  "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                  "dataflow": {
                    "referenceName": "ContactTransform",
                    "type": "DataFlowReference",
                    "parameters": {},
                    "datasetParameters": {
                      "StagingContact": {},
                      "StagingContactTransformed": {}
                    }
                  },
                  "staging": {},
                  "compute": {
                    "coreCount": 8,
                    "computeType": "General"
                  }
                }
              },
              {
                "name": "Cleanup",
                "type": "Delete",
                "dependsOn": [
                  {
                    "activity": "blob-to-dv",
                    "dependencyConditions": [
                      "Succeeded"
                    ]
                  }
                ],
                "policy": {
                  "timeout": "7.00:00:00",
                  "retry": 0,
                  "retryIntervalInSeconds": 30,
                  "secureOutput": false,
                  "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                  "dataset": {
                    "referenceName": "Staging_Contact",
                    "type": "DatasetReference",
                    "parameters": {}
                  },
                  "enableLogging": false,
                  "storeSettings": {
                    "type": "AzureBlobStorageReadSettings",
                    "recursive": true,
                    "wildcardFileName": "*"
                  }
                }
              }
            ],
            "annotations": []
          },
          "dependsOn": [
            "[concat(variables('factoryId'), '/datasets/CRM2013OnPremSQL')]",
            "[concat(variables('factoryId'), '/datasets/Staging_Contact')]",
            "[concat(variables('factoryId'), '/datasets/Staging_Contact_Transformed')]",
            "[concat(variables('factoryId'), '/datasets/DV_Contact')]",
            "[concat(variables('factoryId'), '/dataflows/ContactTransform')]",
            "[resourceId('Microsoft.DataFactory/factories', parameters('adf_name'))]"
          ]
        },
        {
          "type": "pipelines",
          "name": "CRM2013_DV_DataMigration",
          "apiVersion": "2018-06-01",
          "tags": {
            "displayName": "End-to-End Import Pipeline"
          },
          "properties": {
            "activities": [
              {
                "name": "CRM2013_DV_Account",
                "type": "ExecutePipeline",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                  "pipeline": {
                    "referenceName": "CRM2013_DV_Account",
                    "type": "PipelineReference"
                  },
                  "waitOnCompletion": true,
                  "parameters": {}
                }
              },
              {
                "name": "CRM2013_DV_Contact",
                "type": "ExecutePipeline",
                "dependsOn": [
                  {
                    "activity": "CRM2013_DV_Account",
                    "dependencyConditions": [
                      "Succeeded"
                    ]
                  }
                ],
                "userProperties": [],
                "typeProperties": {
                  "pipeline": {
                    "referenceName": "CRM2013_DV_Contact",
                    "type": "PipelineReference"
                  },
                  "waitOnCompletion": true,
                  "parameters": {}
                }
              }
            ],
            "annotations": []
          },
          "dependsOn": [
            "[concat(variables('factoryId'), '/pipelines/CRM2013_DV_Account')]",
            "[concat(variables('factoryId'), '/pipelines/CRM2013_DV_Contact')]",
            "[resourceId('Microsoft.DataFactory/factories', parameters('adf_name'))]"
          ]
        },
        {
          "type": "datasets",
          "name": "DV_Account",
          "apiVersion": "2018-06-01",
          "tags": {
            "displayName": "Dataverse Account Dataset"
          },
          "properties": {
            "linkedServiceName": {
              "referenceName": "DataverseLinkedService",
              "type": "LinkedServiceReference"
            },
            "folder": {
              "name": "Dataverse"
            },
            "annotations": [],
            "type": "CommonDataServiceForAppsEntity",
            "structure": [
              {
                "name": "accountid",
                "type": "Guid"
              },
              {
                "name": "name",
                "type": "String"
              },
              {
                "name": "overriddencreatedon",
                "type": "DateTime"
              },
              {
                "name": "statecode",
                "type": "Int32"
              },
              {
                "name": "statuscode",
                "type": "Int32"
              },
              {
                "name": "telephone1",
                "type": "String"
              },
              {
                "name": "fax",
                "type": "String"
              },
              {
                "name": "industrycode",
                "type": "Int32"
              },
              {
                "name": "numberofemployees",
                "type": "Int32"
              },
              {
                "name": "address1_line1",
                "type": "String"
              },
              {
                "name": "address1_city",
                "type": "String"
              },
              {
                "name": "address1_county",
                "type": "String"
              },
              {
                "name": "address1_postalcode",
                "type": "String"
              },
              {
                "name": "address1_country",
                "type": "String"
              },
              {
                "name": "address1_latitude",
                "type": "Double"
              },
              {
                "name": "address1_longitude",
                "type": "Double"
              }
            ],
            "typeProperties": {
              "entityName": "account"
            }
          },
          "dependsOn": [
            "[concat(variables('factoryId'), '/linkedServices/DataverseLinkedService')]",
            "[resourceId('Microsoft.DataFactory/factories', parameters('adf_name'))]"
          ]
        },
        {
          "type": "datasets",
          "name": "/DV_Contact",
          "apiVersion": "2018-06-01",
          "tags": {
            "displayName": "Dataverse Contact Dataset"
          },
          "properties": {
            "linkedServiceName": {
              "referenceName": "DataverseLinkedService",
              "type": "LinkedServiceReference"
            },
            "folder": {
              "name": "Dataverse"
            },
            "annotations": [],
            "type": "CommonDataServiceForAppsEntity",
            "structure": [
              {
                "name": "contactid",
                "type": "Guid"
              },
              {
                "name": "firstname",
                "type": "String"
              },
              {
                "name": "lastname",
                "type": "String"
              },
              {
                "name": "overriddencreatedon",
                "type": "DateTime"
              },
              {
                "name": "statecode",
                "type": "Int32"
              },
              {
                "name": "statuscode",
                "type": "Int32"
              },
              {
                "name": "salutation",
                "type": "String"
              },
              {
                "name": "parentcustomerid",
                "type": "Guid"
              },
              {
                "name": "accountid@EntityReference",
                "type": "string"
              },
              {
                "name": "telephone1",
                "type": "String"
              },
              {
                "name": "emailaddress1",
                "type": "String"
              },
              {
                "name": "address1_line1",
                "type": "String"
              },
              {
                "name": "address1_city",
                "type": "String"
              },
              {
                "name": "address1_postalcode",
                "type": "String"
              },
              {
                "name": "birthdate",
                "type": "DateTime"
              },
              {
                "name": "creditlimit",
                "type": "Decimal"
              },
              {
                "name": "preferredcontactmethodcode",
                "type": "Int32"
              },
              {
                "name": "donotemail",
                "type": "Boolean"
              },
              {
                "name": "donotbulkemail",
                "type": "Boolean"
              },
              {
                "name": "donotphone",
                "type": "Boolean"
              },
              {
                "name": "donotfax",
                "type": "Boolean"
              },
              {
                "name": "donotpostalmail",
                "type": "Boolean"
              }
            ],
            "typeProperties": {
              "entityName": "contact"
            }
          },
          "dependsOn": [
            "[concat(variables('factoryId'), '/linkedServices/DataverseLinkedService')]",
            "[resourceId('Microsoft.DataFactory/factories', parameters('adf_name'))]"
          ]
        },
        {
          "type": "datasets",
          "name": "CRM2013OnPremSQL",
          "apiVersion": "2018-06-01",
          "tags": {
            "displayName": "CRM 2013 SQL On-Premise Dataset"
          },
          "properties": {
            "linkedServiceName": {
              "referenceName": "CRM2013OnPremSQL",
              "type": "LinkedServiceReference"
            },
            "folder": {
              "name": "CRM2013SQL"
            },
            "annotations": [],
            "type": "SqlServerTable",
            "schema": [],
            "typeProperties": {}
          },
          "dependsOn": [
            "[concat(variables('factoryId'), '/linkedServices/CRM2013OnPremSQL')]",
            "[resourceId('Microsoft.DataFactory/factories', parameters('adf_name'))]"
          ]
        },
        {
          "type": "datasets",
          "name": "Staging_Account",
          "apiVersion": "2018-06-01",
          "tags": {
            "displayName": "Staging_Account CSV Blob"
          },
          "properties": {
            "linkedServiceName": {
              "referenceName": "[parameters('sa_name')]",
              "type": "LinkedServiceReference"
            },
            "folder": {
              "name": "Blob"
            },
            "annotations": [],
            "type": "DelimitedText",
            "typeProperties": {
              "location": {
                "type": "AzureBlobStorageLocation",
                "fileName": {
                  "value": "@concat('Staging_Account_', formatDateTime(utcnow(), 'yyyy-MM-dd'))",
                  "type": "Expression"
                },
                "container": "crmsinkdata-account"
              },
              "columnDelimiter": ",",
              "escapeChar": "\\",
              "firstRowAsHeader": true,
              "quoteChar": "\""
            },
            "schema": [
              {
                "name": "accountid",
                "type": "String"
              },
              {
                "name": "name",
                "type": "String"
              },
              {
                "name": "createdon",
                "type": "String"
              },
              {
                "name": "statecode",
                "type": "String"
              },
              {
                "name": "statuscode",
                "type": "String"
              },
              {
                "name": "telephone1",
                "type": "String"
              },
              {
                "name": "fax",
                "type": "String"
              },
              {
                "name": "industrycode",
                "type": "String"
              },
              {
                "name": "numberofemployees",
                "type": "String"
              },
              {
                "name": "address1_line1",
                "type": "String"
              },
              {
                "name": "address1_city",
                "type": "String"
              },
              {
                "name": "address1_county",
                "type": "String"
              },
              {
                "name": "address1_postalcode",
                "type": "String"
              },
              {
                "name": "address1_country",
                "type": "String"
              },
              {
                "name": "address1_latitude",
                "type": "String"
              },
              {
                "name": "address1_longitude",
                "type": "String"
              }
            ]
          },
          "dependsOn": [
            "[concat(variables('factoryId'), '/linkedServices/', parameters('sa_name'))]",
            "[resourceId('Microsoft.DataFactory/factories', parameters('adf_name'))]"
          ]
        },
        {
          "type": "datasets",
          "name": "Staging_Account_Transformed",
          "apiVersion": "2018-06-01",
          "tags": {
            "displayName": "Staging_Account_Transformed CSV Blob"
          },
          "properties": {
            "linkedServiceName": {
              "referenceName": "[parameters('sa_name')]",
              "type": "LinkedServiceReference"
            },
            "folder": {
              "name": "Blob"
            },
            "annotations": [],
            "type": "DelimitedText",
            "typeProperties": {
              "location": {
                "type": "AzureBlobStorageLocation",
                "container": "crmsinkdata-account"
              },
              "columnDelimiter": ",",
              "escapeChar": "\\",
              "firstRowAsHeader": true,
              "quoteChar": "\""
            },
            "schema": [
              {
                "name": "teamsize",
                "type": "String"
              },
              {
                "name": "accountid",
                "type": "Guid"
              },
              {
                "name": "name",
                "type": "String"
              },
              {
                "name": "statecode",
                "type": "Int32"
              },
              {
                "name": "statuscode",
                "type": "Int32"
              },
              {
                "name": "createdon",
                "type": "DateTime"
              },
              {
                "name": "telephone1",
                "type": "String"
              },
              {
                "name": "fax",
                "type": "String"
              },
              {
                "name": "industrycode",
                "type": "Int32"
              },
              {
                "name": "numberofemployees",
                "type": "Int32"
              },
              {
                "name": "address1_line1",
                "type": "String"
              },
              {
                "name": "address1_city",
                "type": "String"
              },
              {
                "name": "address1_county",
                "type": "String"
              },
              {
                "name": "address1_country",
                "type": "String"
              },
              {
                "name": "address1_postalcode",
                "type": "String"
              },
              {
                "name": "address1_latitude",
                "type": "Double"
              },
              {
                "name": "address1_longitude",
                "type": "Double"
              },
              {
                "name": "owningteam",
                "type": "Guid"
              }
            ]
          },
          "dependsOn": [
            "[concat(variables('factoryId'), '/linkedServices/', parameters('sa_name'))]",
            "[resourceId('Microsoft.DataFactory/factories', parameters('adf_name'))]"
          ]
        },
        {
          "type": "datasets",
          "name": "Staging_Contact",
          "apiVersion": "2018-06-01",
          "tags": {
            "displayName": "Staging_Contact CSV Blob"
          },
          "properties": {
            "linkedServiceName": {
              "referenceName": "[parameters('sa_name')]",
              "type": "LinkedServiceReference"
            },
            "folder": {
              "name": "Blob"
            },
            "annotations": [],
            "type": "DelimitedText",
            "typeProperties": {
              "location": {
                "type": "AzureBlobStorageLocation",
                "fileName": {
                  "value": "@concat('Staging_Contact_', formatDateTime(utcnow(), 'yyyy-MM-dd'))",
                  "type": "Expression"
                },
                "container": "crmsinkdata-contact"
              },
              "columnDelimiter": ",",
              "escapeChar": "\\",
              "firstRowAsHeader": true,
              "quoteChar": "\""
            },
            "schema": [
              {
                "name": "contactid",
                "type": "String"
              },
              {
                "name": "firstname",
                "type": "String"
              },
              {
                "name": "lastname",
                "type": "String"
              },
              {
                "name": "createdon",
                "type": "String"
              },
              {
                "name": "ownerid",
                "type": "String"
              },
              {
                "name": "statecode",
                "type": "String"
              },
              {
                "name": "statuscode",
                "type": "String"
              },
              {
                "name": "salutation",
                "type": "String"
              },
              {
                "name": "accountid",
                "type": "String"
              },
              {
                "name": "telephone1",
                "type": "String"
              },
              {
                "name": "emailaddress1",
                "type": "String"
              },
              {
                "name": "address1_line1",
                "type": "String"
              },
              {
                "name": "address1_city",
                "type": "String"
              },
              {
                "name": "address1_postalcode",
                "type": "String"
              },
              {
                "name": "birthdate",
                "type": "String"
              },
              {
                "name": "creditlimit",
                "type": "String"
              }
            ]
          },
          "dependsOn": [
            "[concat(variables('factoryId'), '/linkedServices/', parameters('sa_name'))]",
            "[resourceId('Microsoft.DataFactory/factories', parameters('adf_name'))]"
          ]
        },
        {
          "type": "datasets",
          "name": "Staging_Contact_Transformed",
          "apiVersion": "2018-06-01",
          "tags": {
            "displayName": "Staging_Contact_Transformed CSV Blob"
          },
          "properties": {
            "linkedServiceName": {
              "referenceName": "[parameters('sa_name')]",
              "type": "LinkedServiceReference"
            },
            "folder": {
              "name": "Blob"
            },
            "annotations": [],
            "type": "DelimitedText",
            "typeProperties": {
              "location": {
                "type": "AzureBlobStorageLocation",
                "container": "crmsinkdata-contact"
              },
              "columnDelimiter": ",",
              "escapeChar": "\\",
              "firstRowAsHeader": true,
              "quoteChar": "\""
            },
            "schema": [
              {
                "name": "contactid",
                "type": "Guid"
              },
              {
                "name": "firstname",
                "type": "String"
              },
              {
                "name": "lastname",
                "type": "String"
              },
              {
                "name": "createdon",
                "type": "DateTime"
              },
              {
                "name": "ownerid",
                "type": "Guid"
              },
              {
                "name": "statecode",
                "type": "Int32"
              },
              {
                "name": "statuscode",
                "type": "Int32"
              },
              {
                "name": "salutation",
                "type": "String"
              },
              {
                "name": "accountid",
                "type": "Guid"
              },
              {
                "name": "telephone1",
                "type": "String"
              },
              {
                "name": "emailaddress1",
                "type": "String"
              },
              {
                "name": "address1_line1",
                "type": "String"
              },
              {
                "name": "address1_city",
                "type": "String"
              },
              {
                "name": "address1_postalcode",
                "type": "String"
              },
              {
                "name": "birthdate",
                "type": "DateTime"
              },
              {
                "name": "creditlimit",
                "type": "Decimal"
              },
              {
                "name": "preferredcontactmethodcode",
                "type": "Int32"
              },
              {
                "name": "donotemail",
                "type": "Boolean"
              },
              {
                "name": "donotbulkemail",
                "type": "Boolean"
              },
              {
                "name": "donotphone",
                "type": "Boolean"
              },
              {
                "name": "donotfax",
                "type": "Boolean"
              },
              {
                "name": "donotpostalmail",
                "type": "Boolean"
              }
            ]
          },
          "dependsOn": [
            "[concat(variables('factoryId'), '/linkedServices/', parameters('sa_name'))]",
            "[resourceId('Microsoft.DataFactory/factories', parameters('adf_name'))]"
          ]
        },
        {
          "type": "linkedServices",
          "name": "[parameters('sa_name')]",
          "apiVersion": "2018-06-01",
          "tags": {
            "displayName": "Storage Account Linked Service"
          },
          "properties": {
            "type": "AzureBlobStorage",
            "typeProperties": {
              "connectionString": {
                "type": "AzureKeyVaultSecret",
                "store": {
                  "referenceName": "[parameters('akv_name')]",
                  "type": "LinkedServiceReference"
                },
                "secretName": "SAConnectionString"
              }
            }
          },
          "dependsOn": [
            "[concat(variables('factoryId'), '/linkedServices/', parameters('akv_name'))]",
            "[resourceId('Microsoft.DataFactory/factories', parameters('adf_name'))]"
          ]
        },
        {
          "type": "linkedServices",
          "name": "DataverseLinkedService",
          "apiVersion": "2018-06-01",
          "tags": {
            "displayName": "Microsoft Dataverse Linked Service"
          },
          "properties": {
            "annotations": [],
            "type": "CommonDataServiceForApps",
            "typeProperties": {
              "deploymentType": "Online",
              "serviceUri": "[parameters('dv_url')]",
              "authenticationType": "AADServicePrincipal",
              "servicePrincipalCredentialType": "ServicePrincipalKey",
              "servicePrincipalId": "[parameters('dv_ClientID')]",
              "servicePrincipalCredential": {
                "type": "AzureKeyVaultSecret",
                "store": {
                    "referenceName": "adfd365dv-akv",
                    "type": "LinkedServiceReference"
                },
                "secretName": "DataverseSecret"
              }
            }
          },
          "dependsOn": [
            "[concat(variables('factoryId'), '/linkedServices/', parameters('akv_name'))]",
            "[resourceId('Microsoft.DataFactory/factories', parameters('adf_name'))]"
          ]
        },
        {
          "type": "linkedServices",
          "name": "CRM2013OnPremSQL",
          "apiVersion": "2018-06-01",
          "tags": {
            "displayName": "CRM 2013 On-Premise SQL Linked Service"
          },
          "properties": {
            "type": "SqlServer",
            "typeProperties": {
              "connectionString": {
                "type": "AzureKeyVaultSecret",
                "store": {
                  "referenceName": "[parameters('akv_name')]",
                  "type": "LinkedServiceReference"
                },
                "secretName": "SQLOnPremise"
              }
            },
            "connectVia": {
              "referenceName": "CRM2013SQLOnPremise",
              "type": "IntegrationRuntimeReference"
            }
          },
          "dependsOn": [
            "[concat(variables('factoryId'), '/integrationRuntimes/CRM2013SQLOnPremise')]",
            "[concat(variables('factoryId'), '/linkedServices/', parameters('akv_name'))]",
            "[resourceId('Microsoft.DataFactory/factories', parameters('adf_name'))]"
          ]
        },
        {
          "type": "linkedServices",
          "name": "[parameters('akv_name')]",
          "apiVersion": "2018-06-01",
          "tags": {
            "displayName": "Azure Key Vault Linked Service"
          },
          "properties": {
            "description": "Azure Key Vault that is used to store all secure password values.",
            "type": "AzureKeyVault",
            "typeProperties": {
              "baseUrl": "[concat('https://', parameters('akv_name'), '.vault.azure.net/')]"
            }
          },
          "dependsOn": [
            "[resourceId('Microsoft.DataFactory/factories', parameters('adf_name'))]"
          ]
        },
        {
          "name": "CRM2013SQLOnPremise",
          "type": "integrationRuntimes",
          "apiVersion": "2018-06-01",
          "tags": {
            "displayName": "CRM 2013 SQL On Premise Integration Runtime"
          },
          "properties": {
            "type": "SelfHosted",
            "typeProperties": {}
          },
          "dependsOn": [
            "[resourceId('Microsoft.DataFactory/factories', parameters('adf_name'))]"
          ]
        },
        {
          "name": "AccountTransform",
          "type": "dataflows",
          "apiVersion": "2018-06-01",
          "tags": {
            "displayName": "Account Mapping Data Flow"
          },
          "properties": {
            "type": "MappingDataFlow",
            "typeProperties": {
              "sources": [
                {
                  "dataset": {
                    "referenceName": "Staging_Account",
                    "type": "DatasetReference"
                  },
                  "name": "StagingAccount",
                  "typeProperties": {}
                }
              ],
              "sinks": [
                {
                  "dataset": {
                    "referenceName": "Staging_Account_Transformed",
                    "type": "DatasetReference"
                  },
                  "name": "StagingAccountTransformed"
                }
              ],
              "transformations": [
                {
                  "name": "AppendNewAccountName"
                }
              ],
              "script": "\n\nsource(output(\n\t\taccountid as string,\n\t\tname as string,\n\t\tcreatedon as string,\n\t\tstatecode as string,\n\t\tstatuscode as string,\n\t\ttelephone1 as string,\n\t\tfax as string,\n\t\tindustrycode as string,\n\t\tnumberofemployees as integer,\n\t\taddress1_line1 as string,\n\t\taddress1_city as string,\n\t\taddress1_county as string,\n\t\taddress1_postalcode as string,\n\t\taddress1_country as string,\n\t\taddress1_latitude as string,\n\t\taddress1_longitude as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> StagingAccount\nStagingAccount derive(name_df = iif(numberofemployees <= 50, concat(name, \" - SMB\"), iif(numberofemployees >= 51 && numberofemployees <= 250, concat(name, \" - SME\"), concat(name, \" - Enterprise\")))) ~> AppendNewAccountName\nAppendNewAccountName sink(input(\n\t\tteamsize as string,\n\t\taccountid as string,\n\t\tname as string,\n\t\tstatecode as integer,\n\t\tstatuscode as integer,\n\t\tcreatedon as timestamp,\n\t\ttelephone1 as string,\n\t\tfax as string,\n\t\tindustrycode as integer,\n\t\tnumberofemployees as integer,\n\t\taddress1_line1 as string,\n\t\taddress1_city as string,\n\t\taddress1_county as string,\n\t\taddress1_country as string,\n\t\taddress1_postalcode as string,\n\t\taddress1_latitude as double,\n\t\taddress1_longitude as double,\n\t\towningteam as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionFileNames:[(concat('Staging_Account_', toString(currentDate('GMT'), 'yyyy-MM-dd'), '_Transformed'))],\n\tpartitionBy('hash', 1)) ~> StagingAccountTransformed"
            }
          },
          "dependsOn": [
            "[concat(variables('factoryId'), '/datasets/Staging_Account')]",
            "[concat(variables('factoryId'), '/datasets/Staging_Account_Transformed')]",
            "[resourceId('Microsoft.DataFactory/factories', parameters('adf_name'))]"
          ]
        },
        {
          "name": "ContactTransform",
          "type": "dataflows",
          "apiVersion": "2018-06-01",
          "tags": {
            "displayName": "Contact Mapping Data Flow"
          },
          "properties": {
            "type": "MappingDataFlow",
            "typeProperties": {
              "sources": [
                {
                  "dataset": {
                    "referenceName": "Staging_Contact",
                    "type": "DatasetReference"
                  },
                  "name": "StagingContact",
                  "typeProperties": {}
                }
              ],
              "sinks": [
                {
                  "dataset": {
                    "referenceName": "Staging_Contact_Transformed",
                    "type": "DatasetReference"
                  },
                  "name": "StagingContactTransformed"
                }
              ],
              "transformations": [
                {
                  "name": "AppendNewContactPreferenceFields"
                }
              ],
              "script": "\n\nsource(output(\n\t\tcontactid as string,\n\t\tfirstname as string,\n\t\tlastname as string,\n\t\tcreatedon as string,\n\t\townerid as string,\n\t\tstatecode as string,\n\t\tstatuscode as string,\n\t\tsalutation as string,\n\t\taccountid as string,\n\t\ttelephone1 as string,\n\t\temailaddress1 as string,\n\t\taddress1_line1 as string,\n\t\taddress1_city as string,\n\t\taddress1_postalcode as string,\n\t\tbirthdate as string,\n\t\tcreditlimit as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> StagingContact\nStagingContact derive(preferredcontactmethodcode = 2,\n\t\tdonotemail = 0,\n\t\tdonotbulkemail = 0,\n\t\tdonotphone = 1,\n\t\tdonotfax = 1,\n\t\tdonotpostalmail = 1) ~> AppendNewContactPreferenceFields\nAppendNewContactPreferenceFields sink(input(\n\t\tcontactid as string,\n\t\tfirstname as string,\n\t\tlastname as string,\n\t\tcreatedon as timestamp,\n\t\townerid as string,\n\t\tstatecode as integer,\n\t\tstatuscode as integer,\n\t\tsalutation as string,\n\t\taccountid as string,\n\t\ttelephone1 as string,\n\t\temailaddress1 as string,\n\t\taddress1_line1 as string,\n\t\taddress1_city as string,\n\t\taddress1_postalcode as string,\n\t\tbirthdate as timestamp,\n\t\tcreditlimit as decimal(10,0),\n\t\tpreferredcontactmethodcode as integer,\n\t\tdonotemail as boolean,\n\t\tdonotbulkemail as boolean,\n\t\tdonotphone as boolean,\n\t\tdonotfax as boolean,\n\t\tdonotpostalmail as boolean\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionFileNames:[(concat('Staging_Contact_', toString(currentDate('GMT'), 'yyyy-MM-dd'), '_Transformed'))],\n\tpartitionBy('hash', 1)) ~> StagingContactTransformed"
            }
          },
          "dependsOn": [
            "[concat(variables('factoryId'), '/datasets/Staging_Contact')]",
            "[concat(variables('factoryId'), '/datasets/Staging_Contact_Transformed')]",
            "[resourceId('Microsoft.DataFactory/factories', parameters('adf_name'))]"
          ]
        }
      ]
    }
  ],
  "outputs": {}
}
